p Hello #{name},
p Thanks for booking a slot on #{outlet_name}. Your appointment is confirmed as you scheduled. Here are the details of your slot:
p !{customer_details}
p <b>Outlet Address:</b> <br> #{address},<br>#{city},<br>Zip/Pin:#{zip},<br>#{state},<br>#{country}
p Your Slot ID:#{ref}
p If you are unable to visit, please reschedule or let us know. It will open this valuable slot for others waiting to visit the outlet.
p Best Regards,<br><b>Umart44 Team</b>
