p Hi #{customer_name},
p Your order invoice #{order_id} has been rejected at online #{outlet_name} outlet with the following reason.
p Vendor Comments: #{order_note}
p We hope to see you again soon.
p If you have any questions in relate to the order or the items it relates to, please contact us at #{vendor_email} or Mobile +#{vendor_phone}
p Thanks,<br><b>Umart44 Team</b>