p Hello #{name},
p We are sorry that we will be unable to confirm your intended time slot to visit our Outlet #{outlet_name} on #{date} between #{timing}. 
p Reason for Rejecting: #{comments}
p Please reach us on phone: +#{vendor_phone} to schedule another appointment.
p Thanks,<br><b>Umart44 Team</b>