p Hello #{customer_name},
p Your #{plan_type} Membership plan payment is due, if you will pay now your website (outlet page) stays alive and you can take full advantage of that subscription plan.
p <b>Your Plan Details:</b>
p Subscription ID: #{id}
p Plan type: #{plan_type}
p Amount Due:  #{price}
p Contact Person: Ravi
p Phone Number: +91 9966559088
p <b> Please ignore if already paid</b> <br>
p Thanks,<br><b>Umart44 Team</b>
