p Hello #{customer_name},
p Thank you for your order. Your order items have been shipped. Find the following shipment details.
p Customer order ID:#{order_id} <br> Shipment Type:#{shipment_type} <br> Shipment Tracking :#{shipment_tracking} 
p Notes: #{shipment_notes}
p <b>Delivery Address:</b> <br> #{address},<br>#{city},<br>Zip/Pin:#{zip},<br>#{state},<br>#{country}
p Thank you for Shopping with us.
p Got Questions? Please keep in touch with us at +#{vendor_phone}
p Thanks,<br><b>Umart44 Team</b>