p Hi #{customer_name},
p Your order has been #{order_status} towards your Purchase Order #{order_id} with #{outlet_name}. 
p #{notes}
p If you have any queries. Please Call us at +#{vendor_phone}
p Thanks,<br><b>Umart44 Team</b>