p Dear #{vendor_name},
p A new slot has been initiated by the customer.
p <b>Booking Details:<b>
p Booking reference Number: <b>#{ref}</b> <br> Person Name: <b>#{name}</b> <br> Contact Number: <b> #{phone} </b> <br> Date and Time:<b> #{date} and #{time}</b> <br> No of attendees:<b> #{count}</b> <br>
p <b><p style="color:red">This booking has not yet been confirmed.<b></p>
p Thanks,<br><b>Umart44 Team</b>



