p Hi #{customer_name},
p Thanks for showing interest to purchase products with us. Your payment is pending with the order ID: #{order_id} to complete the purchase process.
p Amount to pay your order: #{price}
p Please reach out the following vendor with your order id to complete the payment
p Vendor Name : #{vendor_name}<br> Email : #{vendor_email}<br> Phone : +#{vendor_phone}
p We will always eager to help you if you have any queries. Please Call us at +#{vendor_phone}
p Thank you in advance for your prompt response to this email. We value your continued business with us.
p <b> Please ignore if already paid<b>
p Thanks,<br><b>Umart44 Team</b>