p Hi #{vendor_name},
p You have received a new purchase order with the following details
p <b>Order Details:<b>
p Order reference ID: #{order_id} <br> Customer Name: #{name} <br> Contact Number: #{phone} <br> Order Price: #{price} <br> Date: #{date}
p <b>Product Details:</b>
p !{product_details}
p !{payment_details}
p <b><p style="color:red">Your order has not yet been fulfilled.<b></p>
p Warm Regards,<br><b>Umart44 Team</b>