p Hi #{customer_name},
p Thanks for your payment of #{price} towards your Purchase Order #{order_id} at #{outlet_name}. We have received the amount through #{payment_type}. We will send confirmation when your order ships. 
p #{payment_note}
p We hope to see you again soon.
p If you have any queries. Please Call us at +#{vendor_phone}
p Thanks,<br><b>Umart44 Team</b>