p Hi #{customer_name},
p Thank you for your Order at #{outlet_name}. We have received your order and begin processing them right away as soon as you have finished your order payment. Please reach out the #{outlet_name} vendor with the following contact details to finish the order payment.
p Name : #{vendor_name}<br>Email : #{vendor_email}<br>Phone : +#{vendor_phone}
p <b>Your Order<b>
p Order ID: #{order_id}
p Amount Payable: #{price}
p <b>Billing Address:</b> <br> #{billing_address},<br>#{billing_city},<br>Zip/Pin:#{billing_zip},<br>#{billing_state},<br>#{billing_country}
p <b>Shipping Address:</b> <br> #{address},<br>#{city},<br>Zip/Pin:#{zip},<br>#{state},<br>#{country}
p <b> Order Deatils:</b> <br> !{order_details} 
p !{payment_details}
p Mean time if you have any questions or need assistance contact us at +#{vendor_phone}.
p Warm Regards,<br><b>Umart44 Team</b>